#vearbh{
	text-align:left;
}

#vearbh table{
	text-align:center;
}

.clickCell td{
	cursor:pointer;
	text-align:center;
	font-size:350%;
	background-color:#8080FF;
	border-style:solid;
	border-width:1px;
	border-color:#A0A0A0;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:5px;
	-moz-box-shadow:1px 1px 3px #909090;
	-webkit-box-shadow:1px 1px 3px #909090;
	box-shadow:1px 1px 3px #909090;
	font-family:serif;
	width:125px;
}

.clickCell td:hover{
	background-color:#80FF80;
	border-color:#00F000;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#gyhtjelasse{
	font-size:200%;
}

#poeng{
	float:right;
	font-size:400%;
	text-align:right;
	color:#00F000;
}
